{% extends 'base.html' %}

{% block content %}

<div class="container py-5 mt-2 mb-4">
  <div class="py-5"></div>
  <div class="col-md-12 order-md-1 mb-4">
    <h4 class="d-flex justify-content-center align-items-center mt-2 mb-3">OUR CONTACTS</h4>
    <ul class="list-group mb-3">
      <li class="list-group-item">
        <div>
          <h6 class="my-0">Address</h6>
          <small class="text-muted">Dar es salaam, Tanzania</small>
        </div>
      </li>
      <li class="list-group-item">
        <div>
          <h6 class="my-0">Email</h6>
          <small class="text-muted">mwakosyajulius619@gmail.com</small>
        </div>
      </li>
      <li class="list-group-item">
        <div>
          <h6 class="my-0">Mobile</h6>
          <small class="text-muted">+255 785 613 155</small>
        </div>
      </li>
    </ul>
  </div>
</div>

{% endblock %}