
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="py-5"></div>
<div class="container">
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Sequence Searcher</h1>
      <p class="lead my-3">An App that searches gene and protein sequences from the web.</p>
      <p class="lead mb-0 text-white font-weight-bold">Coming soon</p>
    </div>
  </div>

  <div class="row mb-2">

    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-2">
            <a class="text-dark" href="#">Genomi</a>
          </h3>
          <p class="card-text mb-2 mt-2">A pipeline that performs analysis and visualization on gene and protein sequences.</p>
          <a class="text-dark" href="{% static 'downloads/hello_bash.tar.gz' %}" download>Download Genomi Pipeline</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-2">
            <a class="text-dark" href="#">Pairwise-alignment</a>
          </h3>
          <p class="card-text mb-2 mt-2">A pipeline that performs performs pairwise alignment on nucleotide sequences.</p>
          <p><a class="text-dark" href="{% static 'downloads/pairwise_alignment.tar.gz' %}" download>Download Pairwise-alignment Pipeline</a></p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-2">
            <a class="text-dark" href="#">Reverse Compliment</a>
          </h3>
          <p class="card-text mb-2 mt-2">A pipeline that gives the reverse compliment of a sequence.</p>
          <a class="text-dark" href="{% static 'downloads/reverse_compliment.tar.gz' %}" download>Download Reverse COmpliment Pipeline</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-2">
            <a class="text-dark" href="#">Motif Finder</a>
          </h3>
          <p class="card-text mb-2 mt-2">A pipeline that finds motif sequences in gene sequence.</p>
          <a class="text-dark" href="{% static 'downloads/motif_finder.tar.gz' %}" download>Download Motif Pipeline</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-2">
            <a class="text-dark" href="#">Partial Digestion</a>
          </h3>
          <p class="card-text mb-2 mt-2">A pipeline that rearranges subsequences from a partial digestion process by restriction enzymes.</p>
          <a class="text-dark" href="{% static 'downloads/partial_digestion_rearrangement.tar.gz' %}" download>Download Partial Digestion Pipeline</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-2">
            <a class="text-dark" href="#">Longest Common Subsequence</a>
          </h3>
          <p class="card-text mb-2 mt-2">A pipeline that finds the longest common subsequence of two sequences.</p>
          <a class="text-dark" href="{% static 'downloads/longest_common_subsequence.tar.gz' %}" download>Download Longest Common Subsequence Pipeline</a>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
